@font-face {
    font-family: 'Gilam';
    src: url('Gilam-Regular.woff2') format('woff2'),
        url('Gilam-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

