* {
  margin: 0;
  padding: 0;
}

.image-to-show {
  display: none;
  width: 400px;
  height: 400px;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image {
  width: 500px;
  height: 300px;
}

.mainDiv {
  background-color: lightblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: red;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

