.mainForm {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.buttonForm {
    padding: 20px 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: lightgreen;
    font-size: 18px;
    font-weight: 600;
}