@font-face {
    font-family: 'Circe';
    src: url('Circe-Bold.woff2') format('woff2'),
        url('Circe-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

