.cardWrapper {
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 1px solid black;
    position: relative;
    height: 100%;
}

.cardContent {
    display: flex;
    flex-direction: column;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;


}

.productColor{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    font-size: 10px;
}

.buttonsWrap {
display: flex;
justify-content: flex-end;
}

.iconStar {
   width: 50px;
   height: 50px;
   position: absolute;
   right: 20px;
   top: 10px;
   cursor: pointer;
}

.iconStarClicked {
    fill: yellow;
  }

.cardsWrapper {
    display: grid;
    grid-template-columns: 2fr 60px 150px 90px 100px;
}

  
